/* ---------------------------------
VOIR FORMATION
--------------------------------- */
@use "../variables" as *;

.course-price-tabs {
    .nav-tabs {
        .nav-link {
            color: #ababab;

            &.active {
                color: $primary-color;
            }
        }
    }
}

.course-details-wrapper {
    & .title {
        font-size: 20px;
    }
}

.resume {
    &__bloc {
        width: 49%;
        margin: 0;
        padding: 15px 15px;

        &__titre {
            padding: 10px;
        }
    }
}

.section-header .section-left {
    padding: 0 !important;
}
